.ha2gen {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1.5rem auto 2rem;
    grid-template-areas:
        "icon title"
        "icon text"
        "icon menu";

    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid gainsboro;
}

.ha2gen>.icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}
.icon-img>img {
    width: 150%;
    position: absolute;
    margin-left: 20px;
}

.ha2gen>.title {
    grid-area: title;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    overflow: hidden;
}
.ha2gen>.title>span {
    height: fit-content;
}
.ha2gen>.title>.name {
    font-weight: bold;
}
.ha2gen>.title>.id {
    color: gray;
}
.ha2gen>.title>.time {
    color: gray;
}


.ha2gen>.text {
    grid-area: text;
}

.ha2gen>.menu {
    grid-area: menu;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 0;
}

.ha2gen>.menu>li{
    list-style: none;
    display: flex;
    align-items: center;
    width: 60px;
    cursor: pointer;
}
.ha2gen>.menu>li::before {
    content: "";
    display: inline;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: gray;
}
.ha2gen>.menu>.comment::before {
    mask: url(../img/comment.svg) no-repeat center center;
}
.ha2gen>.menu>.comment:hover {
    color: deepskyblue;
}
.ha2gen>.menu>.comment:hover::before {
    background-color: deepskyblue;
}
.ha2gen>.menu>.reTweet::before {
    mask: url(../img/retweet.svg) no-repeat center center;
}
.ha2gen>.menu>.reTweet:hover {
    color: limegreen;
}
.ha2gen>.menu>.reTweet:hover::before {
    background-color: limegreen;
}
.ha2gen>.menu>.good::before {
    mask: url(../img/good.svg) no-repeat center center;
}
.ha2gen>.menu>.good:hover {
    color: deeppink;
}
.ha2gen>.menu>.good:hover::before {
    background-color: deeppink;
}
.ha2gen>.menu>.bad::before {
    mask: url(../img/bad.svg) no-repeat center center;
}
.ha2gen>.menu>.bad:hover {
    color: mediumblue;
}
.ha2gen>.menu>.bad:hover::before {
    background-color: mediumblue;
}
