#side_menu {
    border-right: 1px solid gainsboro;
}

#side_menu .side-menu-inner {
    margin-left: 20%;
}

#side_menu h1 {
    font-size: 50px;
    font-weight: bolder;
}

#side_menu .menu-nav {
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
    width: 100%;
    row-gap: 5px;
    padding-left: 5%;
    margin-top: 50px;
}

#side_menu .menu-item:hover {
    cursor: pointer;
}

#side_menu .menu-item-inner {
    list-style: none;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    font-size: 26px;
    font-weight: bold;
    transition: .3s;
}
#side_menu .menu-item:hover .menu-item-inner {
    background-color: gainsboro;
}
#side_menu .menu-item-inner::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: gray;
}
#side_menu .home .menu-item-inner::before {
    mask: url(../img/home.svg) no-repeat center center;
}
#side_menu .search .menu-item-inner::before {
    mask: url(../img/search.svg) no-repeat center center;
}
#side_menu .profile .menu-item-inner::before {
    mask: url(../img/profile.svg) no-repeat center center;
}
