.ha2gen {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 1.5rem auto 2rem;
    grid-template-areas:
        "icon title"
        "icon text"
        "icon menu";

    width: 100%;
    border-bottom: 1px solid gray;
}

.ha2gen>.icon {
    grid-area: icon;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.ha2gen>.title {
    grid-area: title;
}
.ha2gen>.title>.name {
    font-weight: bold;
}
.ha2gen>.title>.id {
    color: gray;
}
.ha2gen>.title>.time {
    color: gray;
}


.ha2gen>.text {
    grid-area: text;
}

.ha2gen>.menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}

.ha2gen>.menu>div{
    width: 60px;
    display: flex;
    align-items: center;
}